<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h3 class="card-title mb-0"><span class="lstick"></span>Lista de Proveedores</h3>
                <div>
                    <label><input [(ngModel)]="word" (keyup)="filter()" name="word" type="search" class="form-control" placeholder="Buscar"></label>
                    <button class="btn btn-success mr-2 mx-md-3" type="button"><i class="fa fa-file-excel-o mr-1"></i> Excel</button>
                    <button routerLink="create" class="btn btn-primary" type="button"><i class="fa fa-plus mr-1"></i> Nuevo</button>
                </div>
            </div>
            <div>  
                <div class="table-responsive">
                    <table class="table table-bordered color-table inverse-table">
                        <thead>
                            <tr>
                                <th>Compañía</th>
                                <th>Representante</th>
                                <th>RUC</th>
                                <th>DNI</th>
                                <th>Dirección</th>
                                <th>Correo</th>
                                <th>Teléfono</th>
                                <th class="w-1">Acciones</th>
                            </tr>
                        </thead>

                        <ng-container *ngIf="load_data">
                            <tbody>
                                <td colspan="8"><span>Cargando...</span></td>
                            </tbody>
                        </ng-container>

                        <ng-container *ngIf="!load_data">
                            <tbody *ngIf="this.suppliers.length === 0">
                                <td colspan="8"><span>No hay resultados.</span></td>
                            </tbody>
                            <tbody>
                                <tr *ngFor="let item of suppliers | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                                    <td>{{ item.company }}</td>
                                    <td>{{ item.manager }}</td>
                                    <td>{{ item.ruc }}</td>
                                    <td>{{ item.dni }}</td>
                                    <td>{{ item.direction }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.phone }}</td>
                                    <td>
                                        <a [routerLink]="['/dashboard/suppliers/update', item._id]"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                        <a (click)="delete_data(item._id, item.company)"> <i class="fa fa-close text-danger"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                    </table>
                </div>
                <div class="d-flex justify-content-end">
                    <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
