<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body m-md-2"> 
            <h4 class="card-title font-weight-bold">Registrar Cupón</h4>         
            <form (ngSubmit)="register()" [formGroup]="myForm" class="form" autocomplete="off">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>Código</label>
                        <input formControlName="code" type="text" class="form-control">
                        <small *ngIf="validate('code')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                    <div class="col-md-6">
                        <label>Tipo</label>
                        <select formControlName="type" class="form-control custom-select">
                        <option value="" disabled selected>Seleccionar</option>
                        <option value="Porcentaje">Porcentaje</option>
                        <option value="Valor Fijo">Valor Fijo</option>
                      </select>
                        <small *ngIf="validate('type')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label>Valor</label>
                        <input formControlName="value" type="text" class="form-control">
                        <small *ngIf="validate('value')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                    <div class="col-md-6">
                        <label>Límite</label>
                        <input formControlName="limit" type="number" class="form-control">
                        <small *ngIf="validate('limit')" class="text-danger"> Este campo es obligatorio. </small>
                    </div>
                </div>
                <button *ngIf="!load_btn" type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10 mt-2">
                    <i class="fa fa-save m-r-10"></i>Guardar
                </button>
                <button *ngIf="load_btn" type="button" class="btn btn-warning btn-block waves-effect waves-light m-r-10 mt-2" disabled>
                    <i class="fa fa-refresh fa-spin m-r-10"></i>Guardando...
                </button>
            </form>
        </div>
      </div>
    </div>
</div>
