<div *ngIf="order.customer" class="row">

  <div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-uppercase">Datos de la Venta</h4>
            <div class="row mb-1">
              <span class="col-md-4 font-weight-bold">Código Venta:</span>
              <span class="col-md-8">{{ order.code }}</span>
            </div>
            <div class="row mb-1">
              <span class="col-md-4 font-weight-bold">Número Pedido:</span>
              <span class="col-md-8">{{ id | uppercase }}</span>
            </div>
            <div class="row mb-1">
              <span class="col-md-4 font-weight-bold">Transacción:</span>
              <span class="col-md-8">{{ order.transaction }}</span>
            </div>
            <div class="row mb-1">
              <span class="col-md-4 font-weight-bold">Fecha:</span>
              <span class="col-md-8">{{ order.created_at | date: 'dd/MM/yy - h:mm a' }}</span>
            </div>
            <div class="row mb-1">
              <span class="col-md-4 font-weight-bold">Estado:</span>
              <span class="col-md-8"><label class="badge badge-warning mb-0">{{ order.status }}</label></span>
            </div>
        </div>
    </div>
  </div>

  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title text-uppercase">Datos del Cliente</h4>
              <div class="row mb-1">
                <span class="col-md-4 font-weight-bold">Cliente:</span>
                <span class="col-md-8">{{ order.customer.last_name }}, {{ order.customer.first_name }}</span>
              </div>
              <div class="row mb-1">
                <span class="col-md-4 font-weight-bold">Email:</span>
                <span class="col-md-8">{{ order.customer.email }}</span>
              </div>
              <div class="row mb-1">
                <span class="col-md-4 font-weight-bold">DNI:</span>
                <span class="col-md-8">{{ order.customer.dni }}</span>
              </div>
              <div class="row mb-1">
                <span class="col-md-4 font-weight-bold">Teléfono:</span>
                <span class="col-md-8">{{ order.customer.phone }}</span>
              </div>
              <div class="row mb-1">
                <span class="col-md-4 font-weight-bold">Dirección:</span>
                <span *ngIf="order.address" class="col-md-8 text-danger">{{ order.address.address }}, {{ order.address.district }}</span>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table color-table inverse-table">
              <thead>
                  <tr>
                      <th>Imagen</th>
                      <th>Producto</th>
                      <th>Tipo</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th>Subtotal</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of details">
                    <td><img [src]="path + item.product.image" width="70" alt="Product thumb"></td>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.title_variety }}: {{ item.variety }}</td>
                    <td>{{ item.product.price | currency: "S/. " }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.subtotal * item.quantity | currency: "S/. " }}</td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col">
              <span class="d-flex justify-content-end mx-md-5">
                Precio Delivery: {{ order.price_delivery | currency: "S/. " }} +
                Total: {{ order.subtotal | currency: "S/. " }}
              </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
