/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.ngx-pagination {
  margin-bottom: 0 !important;
  .current {
    background-color: #17696a !important;
  }
}

.w100 {
  width: 100px;
}
