.login-register {
  background-image: url("../../../../assets/images/background/login-register.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.login-box {
  width: 400px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .d-flex {
    display: flex !important;
  }
}
